.eric-pugs-dungeon-time-tracker .tabs {
  display: flex;
  border-bottom: 2px solid #ccc;
  margin: 0 10px;
}
.eric-pugs-dungeon-time-tracker .tab-button {
  padding: 1px 10px;
  background: #d0b996;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  font-size: 12px;
  font-weight: r;
  margin-bottom: -2px;
}
.eric-pugs-dungeon-time-tracker .tab-button:hover {
  background: #e0e0e0;
}
.eric-pugs-dungeon-time-tracker .tab-button.active {
  background: white;
  border-bottom: 2px solid white;
}
.eric-pugs-dungeon-time-tracker .tab-content {
  display: none;
}
.eric-pugs-dungeon-time-tracker .tab-content.active {
  display: block;
}
.eric-pugs-dungeon-time-tracker .header {
  display: flex;
  margin: 10px 10px;
}
.eric-pugs-dungeon-time-tracker .header-left {
  width: 50%;
  padding-right: 10px;
}
.eric-pugs-dungeon-time-tracker .header-left p {
  font-size: 12px;
  margin: 5px 0;
}
.eric-pugs-dungeon-time-tracker .event-indent {
  padding-left: 1em;
}
.eric-pugs-dungeon-time-tracker .header-right {
  width: 50%;
  padding-left: 10px;
}
.eric-pugs-dungeon-time-tracker .logo {
  max-width: 100%;
  max-height: 200px;
  display: block;
  border: none;
}
.eric-pugs-dungeon-time-tracker .grid-container {
  display: flex;
  flex-direction: column;
  margin: 20px 10px 10px 10px;
}
.eric-pugs-dungeon-time-tracker .grid-row {
  display: flex;
  margin-bottom: 10px;
}
.eric-pugs-dungeon-time-tracker .grid-row:last-child {
  margin-bottom: 0;
}
.eric-pugs-dungeon-time-tracker .grid-group {
  display: flex;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
}
.eric-pugs-dungeon-time-tracker .tracker-checkbox {
  margin: 2px;
  width: 20px;
  height: 20px;
}
.eric-pugs-dungeon-time-tracker .grid-group .tracker-checkbox:nth-child(even) {
  outline: 2px solid #d32f2f;
  outline-offset: -2px;
}
.eric-pugs-dungeon-time-tracker .grid-group .tracker-checkbox:nth-child(even):checked {
  outline-color: #388e3c;
}
.eric-pugs-dungeon-time-tracker .footer {
  margin: 10px 10px 20px 10px;
}
.eric-pugs-dungeon-time-tracker .referee-notes {
  width: 100%;
}
.eric-pugs-dungeon-time-tracker .referee-notes label {
  display: block;
  margin-bottom: 5px;
}
.eric-pugs-dungeon-time-tracker .referee-notes textarea {
  width: 100%;
  height: 150px;
  resize: both;
  display: block;
}
.eric-pugs-dungeon-time-tracker .rules-content {
  display: flex;
  margin: 20px 10px;
}
.eric-pugs-dungeon-time-tracker .text-column {
  width: 50%;
  padding-right: 10px;
  font-size: 12px;
}
.eric-pugs-dungeon-time-tracker .time-tracking {
  margin-top: 10px;
}
.eric-pugs-dungeon-time-tracker .time-tracking select {
  margin-left: 5px;
  width: 80px;
}
.eric-pugs-dungeon-time-tracker .time-tracking p {
  margin: 5px 0 0 0;
}
.eric-pugs-dungeon-time-tracker .insert-time {
  margin-top: 5px;
  padding: 5px 10px;
}